@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-extralight-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-thin-webfont.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-medium-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-semibold-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* @font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-black-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* @font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-extrabold-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
} */
