// Global variables
$color-interval: 10% !global;

$frontinudi-default-lr-padding: 6vw;

// Fonts
$font-stack: Montserrat, Helvetica, sans-serif;

// Shadow
$frontinudi-shadow: 7px 6px 10px -5px rgba(0, 0, 0, 0.26);

// Color palette
$frontinudi-default-colors: (
  'primary': #00b2e3,
  'accent': #494949,
  'secondary': #3bbdb2,
  'background': #ffffff
);

// Opacity array
$frontinudi-opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4   // opacity used with darker colors
);
