// Global variables
$color-interval: 10% !global;

// Fonts
$font-stack: Montserrat, Helvetica, sans-serif;

// Shadow
$frontinudi-shadow: 7px 6px 10px -5px rgba(0, 0, 0, 0.26);

// Color palette
$frontinudi-default-colors: (
  'primary': rgba(3, 179, 228, 1),
  'accent': #494949,
  'secondary': #BFBFBF,
  'background': #FFFFFF
);

// Opacity array
$frontinudi-opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4   // opacity used with darker colors
);
